@import "_vars";

body {
    background-color: $darkgreen;
    color: $lightgreen;
    font-family: $terminalfont; 
}

#gamearea {
    div, span {
        padding: 0.2em 0;
    }
}

#inputarea {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    right: 0;

    border-style: solid none none none;
    border-color: $green;
    border-width: 1px;

    font-family: $terminalfont;
    padding: 0.5em;
    font-size: 0.9em;

    input {
        width: 95%;
        background-color: $darkgreen;
        color: $lightgreen;
        border-style: none;

        &:focus {
            outline: none;
        }
    }
}